In [3]:
import numpy as np
a = np.arange(0,100)
print (a)
b = a[(a%3 == 0) & (a%5 ==0)]
print (b)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]
[ 0 15 30 45 60 75 90]

In [4]:
b.type

AttributeError: 'numpy.ndarray' object has no attribute 'type'

In [5]:
x = np.array([11, 42, 8, 5, 18])
z = x[x>15]
print(z.size)

2

In [6]:
x[x>15]

array([42, 18])

In [7]:
import numpy as np

data = np.array([150000, 125000, 320000, 540000, 200000, 120000, 160000, 230000, 280000, 290000, 300000, 500000, 420000, 100000, 150000, 280000])
n = len(data)
m = np.mean(data)
std = np.std(data)
print(100*len(data[(data<=m+std)&(data>=m-std)])/n)

260312.5
50.0

In [9]:
import pandas as pd

data = {
   'name': ['James', 'Billy', 'Bob', 'Amy', 'Tom'],
   'number': ['1234', '5678', '2222', '1111', '0909']
}
df = pd.DataFrame(data, index = ['James', 'Billy', 'Bob', 'Amy', 'Tom'])

In [14]:
data = {
   'name': ['James', 'Billy', 'Bob', 'Amy', 'Tom'],
   'number': ['1234', '5678', '2222', '1111', '0909']
}
df = pd.DataFrame(data, index = data['name'])
print(df.loc[input()])

James
name      James
number     1234
Name: James, dtype: object

In [16]:
data = {
   'name': ['James', 'Billy', 'Bob', 'Amy', 'Tom', 'Harry'],
   'rank': [4, 1, 3, 5, 2, 6]
}

df = pd.DataFrame(data, index=data['name'])
print(df)

        name  rank
James  James     4
Billy  Billy     1
Bob      Bob     3
Amy      Amy     5
Tom      Tom     2
Harry  Harry     6

In [17]:
data = {
    'height': [133, 120, 180, 100],
    'age': [9, 7, 16, 4]
}
df = pd.DataFrame(data)
print(df['age'].mean())

9.0